name: Publication

on:
  release:
    types: [released]

env:
  CARGO_TERM_COLOR: always

jobs:
  do_publication:
    name: Publish on crates.io
    runs-on: ubuntu-latest
    steps:
    - name: Install dependencies
      run: |
        sudo apt-get install -y libfuse-dev
     
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Publish
      env:
        CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
      run: |
        cargo publish --workspace --exclude python-libarx

  do_python_publication:
    name: Publish on PyPi
    runs-on: ubuntu-latest
    permissions:
      id-token: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Get wheels & dist
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      shell: bash
      run: |
        version=${{ github.event.release.name }}
        gh release download "$version" -p "*.whl"

    - name: Publish to PyPI
      uses: PyO3/maturin-action@v1
      with:
        command: upload
        args: --non-interactive --skip-existing *.whl
